p {
	font-family: Raleway;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	margin: 1.66%;
	padding-bottom: 10px;
	border-bottom: 2px solid darkred;
	width: 30%;
}

img {
	float: left;
	width: 30%;
	margin: 1.66%;
	outline: 1px solid black;
}